@font-face {
  font-family: "Great Vibe Regular";
  src: url(../fonts/Great_Vibes_Poppins/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
  font-family: "Poppins Regular";
  src: url(../fonts//Great_Vibes_Poppins/Poppins/Poppins-Regular.ttf);
}

.navheader {
  min-height: 10vh;
  background-color: rgb(235, 29, 54);
  color: white;
  font-size: 2rem;
  font-family: "Poppins Regular";
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);
  position: sticky;
  inset: 0 auto auto auto;
  width: 100%;
  z-index: 2;
  animation: nav-animation 1s ease-out;
}

@keyframes nav-animation {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.navlist {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 1rem 0rem;
  align-items: center;
}

#logo {
  flex: 2 1 10rem;
  font-family: "Great Vibe Regular";
  letter-spacing: 1rem;
  font-weight: bolder;
}
#application-name {
  flex: 3 1 50rem;
  font-family: "Poppins Regular";
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

#application-name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scale(0);
  transition: all 0.5s;
}

#application-name:hover::after {
  color: white;
  transform: scale(0.7);
}

.navlist ul {
  flex: 1 1 20rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

@media (max-width: 670px) {
  .navlist {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #logo {
    align-items: center;
    flex: 0 1 auto;
  }
  .navlist ul {
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
  }
  #application-name {
    text-align: center;
  }
}

@media (max-width: 950px) {
  .navlist {
    flex-direction: column;
    align-items: center;
  }

  #logo {
    align-items: center;
    flex-basis: auto;
  }
  #application-name {
    align-items: center;
    flex-basis: auto;
    text-align: center;
  }
  .navlist ul {
    flex-basis: auto;
  }
}
nav ul li {
  position: relative;
}
nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scale(0);
  transition: all 0.5s;
}
nav ul li:hover::after {
  color: white;
  transform: scale(1);
}
