@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Great_Vibes_Poppins/Poppins/Poppins-Medium.ttf");
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

.paperstyle {
  position: relative;
  margin: 20px auto;
  width: 90%;
  border-radius: 20%;
  animation: paper-animation 1.5s ease-out both;
}

@keyframes paper-animation {
  0% {
    transform: translateX(-500%);
    opacity: 0.3;
  }
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.title-parent {
  display: flex;
  justify-content: center;
}

.table-title {
  display: inline-block;
  font-family: Poppins Medium;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  text-align: center;
  transition: all 0.5s;
  color: rgb(17, 70, 143);
  position: relative;
  animation: table-title 1s ease-out both;
}

@keyframes table-title {
  0% {
    transform: translateX(-500%);
    opacity: 0.3;
  }
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.table-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: rgb(17, 70, 143);
  transform: scale(0);
  transition: all 1s;
}

.table-title:hover::after {
  color: rgb(17, 70, 143);
  transform: scale(1);
}

.tableheader {
  background-color: rgb(17, 70, 143);
  color: white;
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
}
.table-pagination {
  background-color: rgb(17, 70, 143);
  color: white !important;
}
.tblhd {
  font-size: larger;
  font-weight: bolder;
  padding: 1rem;
  font-family: Poppins Medium;
}

.tblcell {
  padding: 1rem;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  font-weight: bolder;
}

.classEven {
  background-color: rgb(245, 237, 220);
}
.classOdd {
  background-color: rgb(207, 210, 207);
}
